@import "tailwindcss";

:root {
  --primary-color: #E9E5DB; 
  --secondary-color: #381B00; 
}

.font_crimson {
  font-family: var(--font-crimson-pro), serif;
}

.max_width{
  max-width: 1800px;
}

::-webkit-scrollbar {
  display: none;
